header {

	border-bottom: 2px dashed @navigation-border;
	padding: 40px 0;
	
	h1 {
		@media @mobile {
			text-align: center;
		}
	}

	.container {
		.flex(space-between, stretch);
    
		@media @mobile {
			padding: 0 2%;
			flex-direction: column;
		}
	}
}

.jumbotron {

	.container {
		border-bottom: 2px dashed @navigation-border;
	}

	img {
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 30px;
	}
}

.home {

  .content-section {
	margin: 30px 0;
    .flex(space-between, @wrap: wrap);
    
    @media @mobile {
        flex-direction: column;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;

        @media @mobile {
            width: 100%;
            padding-right: 0%;
        }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
          width: 100%;
          padding-left: 0%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
        flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;

        @media @mobile {
            padding-left: 0%;
        }

    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

        @media @mobile {
            padding-right: 0%;
        }

    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
        width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    .flex(space-between);

    @media @mobile {
        flex-direction: column;
        .flex(center, center);
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      
        @media @mobile {
            width: 90%;
        }
		
		.btn {
			background: #008080;
			border-radius: 15px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			color: @white;
			padding: 20px;
			text-align: center;
			font-size: 2rem;
		}
    }
  }
}// home